ul{
    height:400px;
    width:200px;
    background-color: lightgrey;
}
input{
    border-radius: 0.25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.button :hover{
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);;
}